In [7]:
#SP-1 Arithmetic Operators
num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number: "))

add = num1 + num2    #addition
print("Addditon:",add)

sub = num1 - num2    #Subtraction
print("Subtrsction:",sub)

mul = num1 * num2    #Multiplication
print("Multiplication:",mul)

div = num1 / num2    #Division
print("Division:",div)

mod = num1 % num2    #Modulo
print("Modulo:",mod)

expo = num1 ** num2  #Exponentiation
print("Exponentiation:",expo)

Enter the first number: 12
Enter the second number:  13

Addditon: 25.0
Subtrsction: -1.0
Multiplication: 156.0
Division: 0.9230769230769231
Modulo: 12.0
Exponentiation: 106993205379072.0

In [6]:
#SP-2 Logical Operations 
val1 = bool(int(input("Enter first value: ")))
val2 = bool(int(input("Enter second value: ")))

log_and = val1 and val2
print(log_and)
       
log_or = val1 or val2
print(log_or)
       
log1_not = not val1
print(log1_not)
        
log2_not = not val2
print(log2_not)

Enter first value:  15
Enter second value:  23

True
True
False
False

In [16]:
#SP-3 IDENTITY OPERATIONS
print("Welcome to the Identity Operators Demonstrator!")
print("Please enter a stirng:")

input_string = input()
is_same_as_hello = input_string is "Hello"
is_not_same_as_hello = input_string is not "World"

print("Results:")
print(f"-\"{input_string}\" is the same as \"Hello\":", is_same_as_hello )
print(f"-\"{input_string}\" is not the same as \"World\":", is_not_same_as_hello )

Welcome to the Identity Operators Demonstrator!
Please enter a stirng:

 Hi You

Results:
-"Hi You" is the same as "Hello": False
-"Hi You" is not the same as "World": True

In [19]:
# EP-1 COMPARISION OPERATORS
val1 = int(input("Enter first value: "))
val2 = int(input("Enter second value: "))

print(val1==val2)
print(val1!=val2)
print(val1<val2)
print(val1>val2)
print(val1<=val2)
print(val1>=val2)

Enter first value:  4
Enter second value:  4

True
False
False
False
True
True

In [30]:
# EP-2 LOGICAL  OPERATORS
val1 = int(input("Enter first value: "))
val2 = int(input("Enter second value: "))

print(val1&val2)
print(val1|val2)
print(val1^val2)
print(val1>>val2)
print(val1<<val2)

Enter first value:  2
Enter second value:  2

2
2
0
0
8

In [38]:
# EP-3 MEMBERSHIP OPERATORs
num = list(map(int, input("Enter numbers separated by spaces: ").split()))
val1 = int(input("Enter first value to be checked: "))
val2 = int(input("Enter second value to be checked: "))

print(val1 in num)
print(val2 not in num)

Enter numbers separated by spaces:  2 3 4 5 6 7 8 9
Enter first value to be checked:  2
Enter second value to be checked:  23

True
True

In [39]:
#EP-4 SWAP 2-NUMBERS
val1 = int(input("Enter first value: "))
val2 = int(input("Enter second value: "))
val1,val2 = val2,val1
print(val1)
print(val2)

Enter first value:  2
Enter second value:  3

3
2

In [40]:
#EP-5 Sting Muliplication and String Addition
val1 = input("Enter first value: ")
val2 = input("Enter second value: ")

print(val1*3)
print(val2+"add")

Enter first value:  hello
Enter second value:  world

hellohellohello
worldadd

In [45]:
#EP-6 Number of seconds of X days
val1 = int(input("Enter first value: "))

noOfSec = val1*86400
print("Number of seconds for X Days:",noOfSec)

Enter first value:  2

Number of seconds for X Days: 172800

In [46]:
#EP-7 Gross Salary
basic = int(input("Enter first value: "))

total = 0.60*basic + 0.20*basic + 0.05*basic
print(total)

Enter first value:  20000

17000.0

In [47]:
#EP-8 SIMPLE INTEREST AND COMPOUND INTEREST

PA = int(input("Enter Principal Amount (PA): "))
RI = int(input("Enter Rate of Interest (RI) in %: "))
time = int(input("Enter Time in years: "))

SI = (PA * RI * time) / 100
CI = PA * ((1 + RI / 100) ** time) - PA

print("Simple Interest:", round(SI, 2))
print("Compound Interest:", round(CI, 2))

Enter Principal Amount (PA):  20000
Enter Rate of Interest (RI) in %:  8
Enter Time in years:  2

Simple Interest: 3200.0
Compound Interest: 3328.0

In [ ]:
#EP-9 QUADRATIC EQUATION 
import cmath

a = int(input("Enter value for a: "))
b = int(input("Enter value for b: "))
c = int(input("Enter value for c: "))

D = cmath.sqrt(b**2 - 4*a*c)
x1 = (-b + D) / (2*a)
x2 = (-b - D) / (2*a)

print(f"The solutions are: x1 = {x1}, x2 = {x2}")

In [1]:
#EP-10 FROMAT SPECIFIER

india = input("Enter capital of India: ")
us = input("Enter capital of US: ")
uk = input("Enter capital of UK: ")
china = input("Enter capital of China: ")

print("Capital cities: India {}, US {}, UK {}, China {}".format(india, us, uk, china))

Enter capital of India:  DElhi
Enter capital of US:  New York
Enter capital of UK:  London
Enter capital of China:  Being

Capital cities: India DElhi, US New York, UK London, China Being